/* SKIN CONFIGURATIONS BELOW */
:root {
  /************************/
  /* LIBRARY SIDEBAR      */
  /************************/
  /*** SET HOME Button TEXT  ***/
  --font-size: 15px;
  --font-style: uppercase; /* Set to "lowercase" or "uppercase" or "none" */
  --letter-spacing: 1px; /* Spacing between letters */
  --library-home-bg: transparent; /* Button background color */
  --LibraryName: 'Library Home';
 
  /************************/
  /* LIBRARY GAMES LIST   */
  /************************/
  /* Games List Font Colors */
  --games-list-font-size: 13px;
  --category-font-color: #e0e4e8;
  --installed-font-color: #ffffff;
  --uninstalled-font-color: #A9A9A9;

  /************************/
  /* LIBRARY HOME         =/
  /************************/
  /* Set to "block" to display What's New | "none" to remove What's New */
  --Display-WhatsNewSection: block;

  /************************/
  /* GAME DETAILS         =/
  /************************/
  /* Set to "flex" to show | "none" to hide */
  /* Default is flex */
  --display-game-header: flex;
  
  /* Set to "flex" to always display title | "none" for only when scrolling past game-header */
  /* Recommend turning this to "flex" when game-header is set to "none" */
  --always-show-game-title: none;
  
  /*** GAME DETAILS BODY ***/
  /*** BLUR AMOUNT / STRENGTH ***/
  /* Set to 0px for no blur */
  /* Low End PCs - 10px or lower */
  /* High End PCs - 20px or higher (or lower if you wish)*/
  /* Default is 10px */
  --blur-amount: blur(10px);
  
  /* Controls Blur Underneath Body */
  /* Set to "hidden" or "visible" */
  /* Default is visible */
  --image-blur: visible;
}